<div class="bg-gray-100 min-h-screen pt-[60px]">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, class: "block pl-3 text-lg w-full border-1 border-gray-100", placeholder: "Full Name" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, class: "block pl-3 text-lg w-full border-1 border-gray-100", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, class: "block pl-3 text-lg w-full border-1 border-gray-100", placeholder: "Password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, class: "block pl-3 text-lg w-full border-1 border-gray-100", placeholder: "Confirm Password" %>
    </div>

    <nav class="bg-[#3778c2] text-white flex items-center mb-5 justify-between py-2 px-2 fixed top-0 left-0 w-full">
      <a href="/" class="text-2xl inline-block">&larr;</a>
      <h2 class="text-center">REGISTER</h2>
      <div class="actions">
        <%= f.submit "Next" %>
      </div>
   </nav>
  <% end %>

  <div class="mt-4">
    <%= render "devise/shared/links" %>
  </div>
</div>

